@import "../../assets/css/01-settings/variables.scss";

.p-chat {
    .page-container.page-container {
        flex: 1 0 60px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .chat-form {
        display: flex;
        flex: 0 0 62px;
        border-top: 1px solid #ccc;
    }
    .message-input {
        flex-grow: 1;
        max-height: 62px;
        padding: 10px 12px;
        line-height: 1.3;
        border: none;
        box-shadow: none;
        resize: none;
        &::-webkit-input-placeholder { color: #ccc; }
        &::-moz-placeholder { color: #ccc; opacity:  1; }
        &::-ms-input-placeholder { color: #ccc; }
        &::placeholder { color: #ccc; }
    }
    .emoji-pick {
        display: flex;
        align-items: center;
        padding: 0 5px;
        border: none;
        color: #ccc;
        background: transparent;
        font-size: 20px;
        transition: color 0.1s;
        cursor: pointer;
        &:hover { color: #bbb; }
    }
    .button-wrapper {
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .send-button {
        padding: 5px 20px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid $green;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 5px;
        box-shadow: none;
        color: $green;
        background-color: #fff;
        transform: skew(-10deg);
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
            color: #fff;
            background-color: $green;
        }
    }
}