@import "../../../assets/css/01-settings/variables.scss";
@import "../../../assets/css/01-settings/mixins.scss";

.c-message {
    display: flex;
    padding: 8px 0;
    .message-unit { flex: 0 0 100%; }
    .message-header {
        font-size: 12px;
        color: #999;
        text-align: center;
        &:not(:empty) { margin-bottom: 5px; }
    }
    .message-body { display: flex; }
    .message-content, .user {
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #eee;
    }
    .user {
        display: flex;
        align-items: center;
        padding: 2px;
        margin-right: 2px;
    }
    .user-avatar {
        width: 22px;
        height: 22px;
        border-radius: 50px;
        background-color: #fff;
        background-image: url(https://image.flaticon.com/icons/svg/163/163801.svg);
    }
    .message-content {
        display: inline-block;
        padding: 6px 10px;
        font-size: 14px;
        color: #333;
    }
    .message-text {
        line-height: 1.3;
        word-break: break-word;
        a {
            color: #333;
            text-decoration: underline;
            transition: color 0.1s;
            &:hover { color: $green; }
        }
    }
    .video-embed {
        width: 70vw;
        min-width: 225px;
        max-width: 500px;
        max-height: calc(500px * 6 / 9);
        padding-top: 56.25%;
        position: relative;
        iframe {
            @include absolute(0 0 0 0);
            width: 100%;
            height: 100%;
        }
    }
    .img-embed {
        min-width: 225px;
        max-width: 500px;
        img { display: block; }
    }
    .emoji {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        background-size: contain;
    }
    &.current-user {
        &, .message-body { justify-content: flex-end; }
        .message-content, .user {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #fff;
            background-color: $base-color;
        }
        .user {
            order: 1;
            margin: 0;
            margin-left: 2px;
        }
        .user-avatar { background-image: url(https://image.flaticon.com/icons/svg/163/163847.svg); }
        .message-text a {
            color: #fff;
            &:hover { color: $green; }
        }
    }
}