.c-btn {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #666;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.1s;
    .icon { margin-right: 5px; }
    &.btn-light {
        color: #666;
        background-color: #eee;
        border-color: #eee;
        &:hover { background-color: darken(#eee, 5%); }
    }
    &.btn-block {
        display: block;
        width: 100%;
    }
}