.c-input {
    width: 100%;
    padding: 6px 12px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #666;
    transition: border-color 0.1s;
    &:focus, &:active { border-color: $green; }
}
.c-label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    &.group-label { font-weight: bold; cursor: default; }
}
.c-radio {
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        &:checked + .radio-label:before {
            border-color: $green;
            background-color: $green;
        }
        &:focus + .radio-label:before { border-color: $green; }
    }
    .radio-label {
        display: block;
        line-height: 34px;
        cursor: pointer;
        &:before {
            content: '';
            float: left;
            width: 15px;
            height: 15px;
            margin-top: 7px;
            margin-right: 10px;
            text-align: center;
            border-radius: 2px;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border: 1px solid #999;
            position: relative;
            transition: all 0.1s;
        }
    }
}
.c-form-group {
    margin-bottom: 30px;

    .Select.Select {
        .Select-control {
            height: 34px;
            border-color: #ccc;
            cursor: pointer;
            &:hover { box-shadow: none; }
        }
        .Select-menu-outer {
            border-color: #ccc;
            box-shadow: none;
            overflow: hidden;
        }
        .Select-control, .Select-menu-outer {
            border-radius: 0;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .Select-option {
            &.is-selected, &.is-focused {
                color: $green;
                background-color: #fff;
            }
        }
        &.has-value.Select--single .Select-value-label { color: #666; }
        &.is-open, &.is-focused:not(.is-open) {
            > .Select-control { border-color: #ccc; box-shadow: none; }
        }
    }
}
.c-form-inline-group {
    display: inline-block;
    margin-right: 30px;
}
