// Helper classes
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.hide-element { display: none; }

// Truncate text with ...
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
