// Colors
$base-color: #445367;
$green: #28a745;
$red: #dc0101;

// Z indexes
$z-indexes: ();

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;
