@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?wwbfgw');
  src:  url('../../assets/fonts/icomoon.eot?wwbfgw#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?wwbfgw') format('truetype'),
    url('../../assets/fonts/icomoon.woff?wwbfgw') format('woff'),
    url('../../assets/fonts/icomoon.svg?wwbfgw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-format_color_reset:before {
  content: "\e901";
}
.icon-paper-plane:before {
  content: "\e900";
}
.icon-tongue:before {
  content: "\e9e3";
}
