.p-page-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .page-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // Fix for iOs click
    @supports (-webkit-overflow-scrolling: touch) { cursor: pointer; }
}
