.app {
    .emoji-picker {
        @include absolute(no 0 0 no);
        width: 100%;
        border-radius: 0;
        border: none;
        border-top: 1px solid #eee;
        .search-bar {
            height: auto;
            input { font-size: 16px; }
            i:before { top: 18px; }
        }
        ul.skin-tones li { top: 19px; }
        .emoji-list {
            width: 100% !important;
            max-height: 50vh;
            padding-bottom: 5px;
        }
        .emoji {
            width: 30px;
            height: 30px;
            background-size: 24px;
        }
    }
    .hide-emoji .emoji-picker { display: none; }

    @media (min-width: $breakpoint-tablet) {
        .emoji-picker {
            width: 402px;
            left: auto;
            right: 110px;
            bottom: 50px;
            border: 1px solid #eee;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: 0 2px 6px rgba(#333, 0.05);
        }
    }
}