@import "../../assets/css/01-settings/variables.scss";
@import "../../assets/css/01-settings/mixins.scss";

.l-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    .header-tab {
        display: flex;
        flex: 0 0 50%;
        padding: 3px 10px;
        font-size: 15px;
        color: #999;
        &:first-of-type {
            justify-content: flex-end;
            border-right: 1px solid #ddd;
            &.active::after { left: auto; right: 50%; }
        }
        &.active {
            color: $green;
            &::after {
                @include absolute(100% 50% no no);
                content: "";
                width: 50%;
                height: 1px;
                background-color: $green;
            }
        }
    }
    .unreaded-messages {
        padding: 0 5px;
        margin-right: 10px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #fff;
        background-color: $red;
    }
}