.t-theme-dark {
    &, .app, .message-input {
        color: #eee;
        background-color: #2e2e2e;
    }
    .header-tab { color: #eee; }
    .c-input { border-color: #fff; }
    .c-form-group .Select.Select {
        .Select-control, .Select-menu-outer { border-color: #fff; }
    }
}